---
title: projects
layout: splash
header:
  overlay_color: "#5e616c"
  overlay_image: /assets/images/headers/peak2.jpeg
  caption: "Photo: [**Hope Valley, Peak District**](https://www.google.co.uk/maps/place/Hope+Valley+S33+0AH/@53.3291873,-1.7790082,12z/data=!4m5!3m4!1s0x487980a86a8b4bf1:0xcd786530b2d286e5!8m2!3d53.338876!4d-1.690345) - Christopher Macca"

bookforge:
- image_path: assets/images/bookforge/front.jpeg
  title: "Bookforge"
  excerpt: "a place for authors to come together and collboratively create.
    Bookforge is a web app where people write books together. Users contribute
    by submitting what they think the next passage in a book should be. The
    community then vote, and after a certain amount of time, the passage with
    the most votes is added to the book, never to be erased."
  url: "projects/bookforge"
  btn_label: "read more"
  btn_class: "btn--primary"

armidello:
  - image_path: /assets/images/armidello/editor.png
    title: "Armidello"
    excerpt: "a highly visual ARM IDE, Armidello was built as a replacement for
    [VisUAL](https://salmanarif.bitbucket.io/visual/) the popular ARM Eumlator 
    notably used for Imperial College's Computer Architecture course."
    url: "projects/armidello"
    btn_label: "read more"
    btn_class: "btn--primary"
  
compiler:
- image_path: /assets/images/compiler/c.jpeg
  image_caption: "Photo: [**C**](https://unsplash.com/photos/OiUDGKHHuN0) - Nikhil Mitra"
  title: "C Compiler"
  excerpt: "___'compilers were not given to us by god' - Dr David Thomas___ moments before we
  were tasked with writing one. This compiler takes as input C89 code, and spits out MIPS on the other side.
  This project sparked my interest in formal languages."
  url: "https://github.com/maccth/C-Compiler"
  btn_label: "see the code"
  btn_class: "btn--primary"

mips:
  - image_path: /assets/images/mips/cpu2.jpeg
    image_caption: "Photo: [**Intel 8008**](https://unsplash.com/photos/e28-krnIVmo) - Jonas Svidras"
    title: "MIPS Simulator"
    excerpt: "a fully functioning MIPS I simulator with an API for querying state.
    This simulator has seen many a use, such as testing and debugging the compiler
    project also on this page."
    url: "https://github.com/maccth/MIPS-CPU-Simulator"
    btn_label: "see the code"
    btn_class: "btn--primary"


graphs:
- image_path: /assets/images/graphs/text2.png
  title: "Armidello"
  excerpt: 'a hughly visual ARM IDE'
  url: "projects/armidello"
  btn_label: "read more"
  btn_class: "btn--primary"


---
{% include feature_row id="armidello" type="left" %}

{% include feature_row id="bookforge" type="left" %}

{% include feature_row id="compiler" type="left" %}

{% include feature_row id="mips" type="left" %}

<!-- gallery:
  - url: /assets/images/bookforge/front.jpeg
    image_path: /assets/images/bookforge/front.jpeg
    alt: "placeholder image 1"
    title: "Image 1 title caption"
  - url: /assets/images/bookforge/create.jpeg
    image_path: /assets/images/bookforge/create.jpeg
    alt: "placeholder image 2"
    title: "Image 2 title caption"
  - url: /assets/images/bookforge/submissions.jpeg
    image_path: /assets/images/bookforge/submissions.jpeg
    alt: "placeholder image 3"
    title: "Image 3 title caption" -->