---
title: Bookforge
layout: single
sidebar: 
  nav: "projects"
gallery:
  - url: /assets/images/bookforge/front2.jpeg
    image_path: /assets/images/bookforge/front2.jpeg
  - url: /assets/images/bookforge/create2.jpeg
    image_path: /assets/images/bookforge/create2.jpeg
gallery2:
  - url: /assets/images/bookforge/vote3.jpeg
    image_path: /assets/images/bookforge/vote3.jpeg
  - url: /assets/images/bookforge/read2.jpeg
    image_path: /assets/images/bookforge/read2.jpeg
---
<p>
  <b>Imagine</b> a place where books are written in complete colloboration. Whether you are an esteemed authors with a dedicated
  following, or someone who just wants to have a go at writing. Bookforge brings together all areas of the literary community to
  write a book together.
</p>
<p>
  {% include gallery caption="Each user's homepage is shelf of books they have contributed to. Either by voting, or submitting a passage.
  A new book can also be started from one side of the shelf." %}
</p>
<p>
  <b>The</b> project began at <a href="https://ichack.org">ICHack 17</a>, Imperial College's annual hackathon. The idea was to take collboration
  to another level. Across almost all industries and professions, programs exist that allow people to work together.
  So we thought <i>why not in the writing profession?</i>
</p>
<p>
  <b>Starting</b> a new book gives the user the unique power to write the first sentance. The first sentance is only one that is not voted into the book.
  From that point on, anyone can submit a sentance, and anyone can vote for a sentance. There is specified amount of time for a ballot. After that time ellapsed,
  the sentance with the most votes is added to the book. This can <b>never</b> be undone. <i>We then we go again...</i>
</p>
<p>
  {% include gallery id="gallery2" caption="At the end of a ballot the sentance with the most votes is added to the book and all users reading the bookforge
  will see this update." %}
</p>
<p>
  <b>Eventually</b> all good things must come to an end. At any point, users can vote to end the book. If at the end of a ballot more users voted
  to end the book than any of the other sentances, the book is complete.
</p>
<p>
  <b>The</b> development team was <a href="https://github.com/Carotti">Tom Carotti</a>, <a href="https://github.com/dougbrion">Doug Brion</a>,
  <a href="https://github.com/tnugent97">Tom Nugent</a>, <a href="https://github.com/MJordahn">Mikkel Jordahn</a> and myself. If you fancy taking
  a look at the code, <a href="https://github.com/maccth/bookforge">it's here</a>.
</p>
<p>
  <b>Bookforge</b> was written in HTML, JavaScript, PHP and SQL. We created the entire thing in 22 hours and spent the other 2 hours writing books together
  with other people at the hackathon.
</p>